<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="@zhengli" />
		<title><%= title %> - T-Mac</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./assets/css/jquery.fancybox.css" />
		<link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
	</head>
	<body>
		<header>
			<h1><a href="./">T-Mac</a></h1>
			<ul class="colorful"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
		</header>
		<%- body %>
		<footer class="footer">
			<ul class="colorful reverse"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
			<p class="left">T-Mac 0.1.0</p>
			<p class="right"><a href="https://github.com/nocoo/t-mac">T-Mac on GitHub</a></p>
		</footer>
	</body>
</html>